body {
  background-color: #8bcdcd;
  margin: 0;
}

h2 {
  color: white;
}

th {
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 20px;
}

th:hover {
  background-color: #eeecda;
  color: #f4f4f4;
  text-shadow: black 0px 0 5px;
}

a {
  color: white;
  text-decoration: inherit;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #9ab3f5;
  color: white;
  font-size: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7579e7;
}

/******************************Classes****************************/
.text {
  color: white;
}

.title {
  text-align: center;
  color: white;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 150px;
}

.Toolbar {
  margin: 10px auto 20px;
  table-layout: fixed;
  width: 80%;
  border: 2px solid white;
}

.calculator {
  text-align: center;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0;
  border-right: 0;
  margin: 40px 0;
  opacity: 0.5;
}

.container {
  margin: 10px 20%;
  border-radius: 5px;
  background-color: #d9ecf2;
  padding: 20px;
}

.toDoList {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 0;
  border-right: 0;
  text-align: center;
  background-color: #7579e7;
  height: 600px;
  margin: 40px 0;
  opacity: 0.5;
}

.kanbanBoard {
  /* text-align: center; */
  height: 600px;
  margin: 40px 0;
  /* opacity: 0.5; */
}

.calender {
  text-align: center;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0;
  border-right: 0;
  margin: 40px 0;
}

.calculator_table {
  margin: auto auto;
  border: 1px solid;
}

.c_botton {
  font-size: 30px;
  border-radius: 40%;
}

.calculator_body {
  background-color: black;
}

.kanban-second-row {
  background-color: #8bcdcd;
  padding: 20px;
  height: 520px;
}

.kanban-first-row {
  padding: 0 10px 10px ;
}

.task {
  text-align: center;
  height: 210px;
  margin: 20px 0;
  border: 2px solid black;
  background-color: white;
  padding-top: 0;

}

input[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

.task-workers{

}

.kanban-third-row {
  padding: 0 5px;
  margin: 5px;
  position: absolute;
  bottom: 10px;
  right: 3%;

}

.kanban-third-row-item {
  margin: 0 10px;
  padding: 0 5px;

}

input[type="button"] {
  font-size: 2em;
  padding: 20px 40px;
  background-color: #ffa41b;
  color: black;
  border: solid black 5px;
  width: 100%
}

input[type="button"]:hover {
  font-size: 2em;
  padding: 20px 40px;
  background-color: #e4e978;
  color: black;
  border: solid black 5px;
  width: 100%
}

input[type="text"] {
  font-size: 2em;
  padding: 40px;
  background-color: white;
  border: solid black 2px;
  border-radius: 15%;
  width: 100%
}
