#main-container {
  padding: 0;
}

#second-pic-caption {
  right: 70%; left: 1%; color: #343a40;
}

#first-pic-caption {
  left: 60%; right: 1%; color: #343a40;
}

#first_section{
  background-color: #D8B88F;
}
/****************************************Section-1**********************************************/
.carousel-image {
  width:100%;
}


/*********************************************Section-2********************************************/
.category-tag{
  color: #6c757d;
}
