#main-container {
  padding-top: 80px;
}

/****************************************Section-1**********************************************/
.carousel-image {
  width:100%;
}

.carosel-caption {
  right: 70%;
  left: 1%;
  padding-bottom: 30px;

}
